
   <div class="container-fluid-sm sticky-top">
      <nav class="navbar navbar-expand-sm">
        <a href="#" class="navbar-brand" ><strong>Fotobook</strong></a>
        <!-- <input class="form-control form-control-sm" class="navbar-expand-lg" type="text" placeholder="Search Photo / Album"> -->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon ">
              <i class="fas fa-bars fa-2x"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse " id="navbarMenu">
          <input class="form-control form-search" type="text" placeholder="Search Photo / Album">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                <% if user_signed_in? %>
                    <a href="<%= photo_path(current_user) %>" class="nav-link van"><p class="inside-a"><%=current_user.firstname.slice(0)%>&nbsp;<%=current_user.lastname.slice(0)%></p></a>
                </li>
                  <li class="nav-item ">
                    <a href="<%= photo_path(current_user) %>" class="nav-link"><%=current_user.firstname%></a>
                  <%end%>
                </li>
            </ul>
            <ul class="navbar-nav">
               <% if user_signed_in? %>
            <ul class="navbar-nav">
              <li class="nav-item ">
              <%= link_to "Log out", destroy_user_session_path, :method=>'delete', class: 'nav-link'%>
              </li>
              <% else %>
              <%= link_to "Log in", new_user_session_path, class: 'nav-link' %>
               <% end %>
          </ul>
        </div>  
      </nav>
    </div>
    
    <div id="mySidenav" class="sidenav">
      <a href="#" id="about">&nbspFeeds</a>
      <a href="#" id="blog">&nbspDiscover</a>
    </div>
  
    <div class="container content-block-photo" >
      <div class="row justify-content-center">
        <div class="btn-group btn-total" role="group" aria-label="Basic example">
         <a href="#" class="link-to"> <button type="button btn-lg" class="btn btn-left">PHOTO</button></a>
       <button type="button btn-lg" id="btn-album" class="btn btn-right"><%= link_to "ALBUM",new_photo_path,class: "add-pho" %></button>
        </div>
      </div>
      <div class="row ">
      <% @images.each do |i|%>
        <div class="col-sm-6 col-md-6 col-lg-6 hello">
          <div class="card mb-3" style="min-width:10 px;">
            <div class="row no-gutters">
              <div class="col-md-4">
              <img src=<%=i.source%> class="card-img" data-toggle="modal" data-target="#modalPhoto">
              </div>
              <div class="col-md-8 parent-text">
                  <div class="card-body body-photo">
                    <div class="btn-follow">
                      <!-- <button type="button" class="btn btn-danger follow"></button> -->
                      <button type="button" class="btn btn-outline-success follow"><p class="leave">Follow</p> </button>
                    </div>
                    <% if user_signed_in?%>
                    <a href="#"><i class="fas fa-user circle-userr"></i>&nbsp;<%= i.user.firstname%></a>
                    <%else%>
                    <a href="#"><i class="fas fa-user circle-userr"></i>&nbsp;  </a>
                    <%end%>
                  <h5 class="card-title tit" ><%= i.title%></h5>
                  <p class="card-text des"><%= i.description%></p>
                  <div class="float-content">
                    <i class="heart card-text fas fa-heart fa-1x float-left-photo" >&nbsp;123</i>
                    <p class="card-text float-right-photo"><small class="text-muted"><%= i.created_at %></small></p>
                  </div> 
                </div>
            </div>
          </div>
        </div>

      </div>
        
      <%end%>
     <div class="container pagination justify-content-center">
             <%= paginate @images, theme: 'twitter-bootstrap-4',previous_label:"Previous",next_label: "Next " %>
      </div>
      </div>
    </div>
  
    <div class="modal fade" id="modalPhoto" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalTittle"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner modal-photo">
            <div class="carousel-item active">
                <img src="" class="d-block " id="imgModal" alt="caption ">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" >
        <p class=" mr-auto" id="modalDescription"></p>
      </div>
      </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>


  
 



           