 <div class="container-fluid-sm">
      <nav class="navbar navbar-expand-sm ">
        <a href="#" class="navbar-brand" ><strong>Footbook</strong></a>
        <!-- <input class="form-control form-control-sm" class="navbar-expand-lg" type="text" placeholder="Search Photo / Album"> -->
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon ">
              <i class="fas fa-bars fa-2x"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse " id="navbarMenu">
          <input class="form-control form-search" type="text" placeholder="Search Photo / Album">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a href="#" class="nav-link ">Login</a>
                </li>
            </ul>
        </div>  
      </nav>
</div>
   
     <div class="container">
      <h2 >Fotobook Signup</h2>
       <div class="row justify-content-center index-page">
          <div class="card" id="card-logo">
            <div class="card-body">
              <img src="/Img/Google.png">
              <img src="/Img/FB.jpg">
              <img src="/Img/Twitter.png">
            </div>
          </div>
       </div>  
          <div class="row justify-content-center index-page">
                <div class="card" id="card-login">
                  <div class="card-body">
                <%= form_for @user do |f| %>
                    <div class="form-group">
                     <%= f.label :firstname, "Firstname"%>
                     <%= f.text_field(f.firstname,class: "form-control") %>
                      <%# <label for="exampleFirstName"><strong>First Name</strong></label> %>
                      <%# <input type="firstname" class="form-control" id="exampleFirstName" aria-describedby="emailHelp" placeholder="First name"> %>
                    </div>
                     <div class="form-group">
                     <%= f.label :email, "Email"%>
                      <%= f.text_field(f.email,class: "form-control") %>
                      <%# <label for="exampleEmail"><strong>Email</strong></label> %>
                      <%# <input type="email" class="form-control" id="exampleNewPassword" placeholder="Email"> %>
                    </div>
                  </div>
                  <%end%>

                </div>
          </div>
     </div>
     <%= yield %>